---------------------------------------------------------------------
-- Script que crea la base de datos DB01ER
-- Soporta las versiones de SQL Server: 2005 en adelante
---------------------------------------------------------------------

---------------------------------------------------------------------
-- 1. Crea la base de datos vacía DB01ER
---------------------------------------------------------------------

-- Conecta con master
USE master;

-- borra la base de datos si existe
IF DB_ID('DB01ER') IS NOT NULL DROP DATABASE DB01ER;

-- si está abierta la conexión y no la puede abrir, aborta 
IF @@ERROR = 3702 
   RAISERROR('La base de datos no se puede crear porque está la conexión abierta.', 127, 127) WITH NOWAIT, LOG;

-- Crea DB01ER
CREATE DATABASE DB01ER;
GO

USE DB01ER;
GO

---------------------------------------------------------------------
--2. Crea esquemas
---------------------------------------------------------------------

CREATE SCHEMA Produccion AUTHORIZATION dbo;
GO
CREATE SCHEMA Ventas AUTHORIZATION dbo;
GO

---------------------------------------------------------------------
--3. Crea tablas
---------------------------------------------------------------------

-- Crea Ventas.Clientes
CREATE TABLE Ventas.Clientes
(
  clienteid       INT          NOT NULL IDENTITY,
  nombreEmpresa  NVARCHAR(40) NOT NULL,
  nombreContacto  NVARCHAR(30) NOT NULL,
  contactoTitulo NVARCHAR(30) NOT NULL,
  direccion      NVARCHAR(60) NOT NULL,
  ciudad         NVARCHAR(15) NOT NULL,
  region       NVARCHAR(15) NULL,
  codigoPostal   NVARCHAR(10) NULL,
  pais      NVARCHAR(15) NOT NULL,
  telefono        NVARCHAR(24) NOT NULL,
  fax          NVARCHAR(24) NULL,
  CONSTRAINT PK_Clientes PRIMARY KEY(clienteid)
);

-- Crea Ventas.Transportistas
CREATE TABLE Ventas.Transportistas
(
  transportistaid   INT          NOT NULL IDENTITY,
  nombreEmpresa NVARCHAR(40) NOT NULL,
  telefono       NVARCHAR(24) NOT NULL,
  CONSTRAINT PK_Transportistas PRIMARY KEY(transportistaid)
);

-- Crea Produccion.Productos
CREATE TABLE Produccion.Productos
(
  productoid    INT          NOT NULL IDENTITY,
  productoNombre  NVARCHAR(40) NOT NULL,
  proveedorid   INT          NOT NULL,
  categoriaid   INT          NOT NULL,
  precioUnitario    MONEY        NOT NULL
    CONSTRAINT DFT_Productos_preciounitario DEFAULT(0),
  descontinuado BIT          NOT NULL 
    CONSTRAINT DFT_Productos_descontinuado DEFAULT(0),
  CONSTRAINT PK_Productos PRIMARY KEY(productoid),
  CONSTRAINT CHK_Productos_preciounitario CHECK(precioUnitario >= 0)
);

-- Crea Ventas.Pedidos
CREATE TABLE Ventas.Pedidos
(
  pedidoid        INT          NOT NULL IDENTITY,
  clienteid         INT          NULL,
  empid          INT          NOT NULL,
  fechaPedido      DATETIME     NOT NULL,
  fechaEntrega   DATETIME     NOT NULL,
  fechaEnvio    DATETIME     NULL,
  transportistaid      INT          NOT NULL,
  precioEnvio        MONEY        NOT NULL
    CONSTRAINT DFT_Pedidos_precioenvio DEFAULT(0),
  transportenombre       NVARCHAR(40) NOT NULL,
  direccionEnvio    NVARCHAR(60) NOT NULL,
  ciudadEnvio       NVARCHAR(15) NOT NULL,
  regionEnvio     NVARCHAR(15) NULL,
  codiogPostalEnvio NVARCHAR(10) NULL,
  paisEnvio    NVARCHAR(15) NOT NULL,
  CONSTRAINT PK_Pedidos PRIMARY KEY(pedidoid),
  CONSTRAINT FK_Pedidos_Clientes FOREIGN KEY(clienteid)
    REFERENCES Ventas.Clientes(clienteid),
  CONSTRAINT FK_Pedidos_Transportistas FOREIGN KEY(transportistaid)
    REFERENCES Ventas.Transportistas(transportistaid)
);

-- Crea Ventas.PedidoDetalle
CREATE TABLE Ventas.PedidoDetalle
(
  pedidoid   INT           NOT NULL,
  productoid INT           NOT NULL,
  precioUnitario MONEY         NOT NULL
    CONSTRAINT DFT_PedidoDetalle_preciounitario DEFAULT(0),
  cantidad       SMALLINT      NOT NULL
    CONSTRAINT DFT_PedidoDetalle_cantidad DEFAULT(1),
  descuento  NUMERIC(4, 3) NOT NULL
    CONSTRAINT DFT_PedidoDetalle_descuento DEFAULT(0),
  CONSTRAINT PK_PedidoDetalle PRIMARY KEY(pedidoid, productoid),
  CONSTRAINT FK_PedidoDetalle_Pedidos FOREIGN KEY(pedidoid)
    REFERENCES Ventas.Pedidos(pedidoid),
  CONSTRAINT FK_PedidoDetalle_Productos FOREIGN KEY(productoid)
    REFERENCES Produccion.Productos(productoid),
  CONSTRAINT CHK_descuento  CHECK (descuento BETWEEN 0 AND 1),
  CONSTRAINT CHK_cantidad  CHECK (cantidad > 0),
  CONSTRAINT CHK_preciounitario CHECK (precioUnitario >= 0)
);

---------------------------------------------------------------------
--4. Insertar registros en las tablas
---------------------------------------------------------------------

SET NOCOUNT ON;-- Evita que devuelva el mensaje con recuento del número de filas afectadas por una instrucción con los resultados.

-- Produccion.Productos
SET IDENTITY_INSERT Produccion.Productos ON;
INSERT INTO Produccion.Productos(productoid, productoNombre, proveedorid, categoriaid, precioUnitario, descontinuado)
  VALUES(1, N'producto HHYDP', 1, 1, 18.00, 0);
INSERT INTO Produccion.Productos(productoid, productoNombre, proveedorid, categoriaid, precioUnitario, descontinuado)
  VALUES(2, N'producto RECZE', 1, 1, 19.00, 0);
INSERT INTO Produccion.Productos(productoid, productoNombre, proveedorid, categoriaid, precioUnitario, descontinuado)
  VALUES(3, N'producto IMEHJ', 1, 2, 10.00, 0);
SET IDENTITY_INSERT Produccion.Productos OFF;

-- Ventas.Clientes
SET IDENTITY_INSERT Ventas.Clientes ON;
INSERT INTO Ventas.Clientes(clienteid, nombreEmpresa, nombreContacto, contactoTitulo, direccion, ciudad, region, codigoPostal, pais, telefono, fax)
  VALUES(1, N'Customer NRZBB', N'Allen, Michael', N'Ventas Representative', N'Obere Str. 0123', N'Berlin', NULL, N'10092', N'Germany', N'030-3456789', N'030-0123456');
INSERT INTO Ventas.Clientes(clienteid, nombreEmpresa, nombreContacto, contactoTitulo, direccion, ciudad, region, codigoPostal, pais, telefono, fax)
  VALUES(2, N'Customer MLTDN', N'Hassall, Mark', N'Owner', N'Avda. de la Constitución 5678', N'México D.F.', NULL, N'10077', N'Mexico', N'(5) 789-0123', N'(5) 456-7890');
INSERT INTO Ventas.Clientes(clienteid, nombreEmpresa, nombreContacto, contactoTitulo, direccion, ciudad, region, codigoPostal, pais, telefono, fax)
  VALUES(3, N'Customer KBUDE', N'Peoples, John', N'Owner', N'Mataderos  7890', N'México D.F.', NULL, N'10097', N'Mexico', N'(5) 123-4567', NULL);
SET IDENTITY_INSERT Ventas.Clientes OFF;

-- Ventas.Transportistas
SET IDENTITY_INSERT Ventas.Transportistas ON;
INSERT INTO Ventas.Transportistas(transportistaid, nombreEmpresa, telefono)
  VALUES(1, N'transportista GVSUA', N'(503) 555-0137');
INSERT INTO Ventas.Transportistas(transportistaid, nombreEmpresa, telefono)
  VALUES(2, N'transportista ETYNR', N'(425) 555-0136');
INSERT INTO Ventas.Transportistas(transportistaid, nombreEmpresa, telefono)
  VALUES(3, N'transportista ZHISN', N'(415) 555-0138');
SET IDENTITY_INSERT Ventas.Transportistas OFF;

-- Ventas.Pedidos
SET IDENTITY_INSERT Ventas.Pedidos ON;
INSERT INTO Ventas.Pedidos(pedidoid, clienteid, empid, fechaPedido, fechaEntrega, fechaEnvio, transportistaid, precioEnvio, transportenombre, direccionEnvio, ciudadEnvio, regionEnvio, codiogPostalEnvio, paisEnvio)
  VALUES(10248, 85, 5, '20060704 00:00:00.000', '20060801 00:00:00.000', '20060716 00:00:00.000', 3, 32.38, N'transporte to 85-B', N'6789 rue de l''Abbaye', N'Reims', NULL, N'10345', N'France');
INSERT INTO Ventas.Pedidos(pedidoid, clienteid, empid, fechaPedido, fechaEntrega, fechaEnvio, transportistaid, precioEnvio, transportenombre, direccionEnvio, ciudadEnvio, regionEnvio, codiogPostalEnvio, paisEnvio)
  VALUES(10249, 79, 6, '20060705 00:00:00.000', '20060816 00:00:00.000', '20060710 00:00:00.000', 1, 11.61, N'transporte to 79-C', N'Luisenstr. 9012', N'Münster', NULL, N'10328', N'Germany');
INSERT INTO Ventas.Pedidos(pedidoid, clienteid, empid, fechaPedido, fechaEntrega, fechaEnvio, transportistaid, precioEnvio, transportenombre, direccionEnvio, ciudadEnvio, regionEnvio, codiogPostalEnvio, paisEnvio)
  VALUES(10250, 34, 4, '20060708 00:00:00.000', '20060805 00:00:00.000', '20060712 00:00:00.000', 2, 65.83, N'Destination SCQXA', N'Rua do Paço, 7890', N'Rio de Janeiro', N'RJ', N'10195', N'Brazil');
SET IDENTITY_INSERT Ventas.Pedidos OFF;

-- Ventas.PedidoDetalle
INSERT INTO Ventas.PedidoDetalle(pedidoid, productoid, precioUnitario, cantidad, descuento)
  VALUES(10248, 11, 14.00, 12, 0);
INSERT INTO Ventas.PedidoDetalle(pedidoid, productoid, precioUnitario, cantidad, descuento)
  VALUES(10248, 42, 9.80, 10, 0);
INSERT INTO Ventas.PedidoDetalle(pedidoid, productoid, precioUnitario, cantidad, descuento)
  VALUES(10248, 72, 34.80, 5, 0);


